body {
  background-color: #55aa16;
}

div.header {
  border: 4px solid #152a06;
  margin: 1%;
}

h1 {
  text-align: center;
  color: #152a06;
}

canvas {
  background-image: url("forest.png");
  border: 2px solid #152a06;
  display: block;
  margin: auto;
}

#map {
  background-image: url("map.png");
}
